<ion-content>
  <div class="welcome-body">
    <div class="welcome-body__content">
      <ion-img src="assets/giftOink.svg" alt="gift-oink" class="welcome-body__content--image"></ion-img>
      <ion-text class="welcome-body__content--title">¡Bienvenido a Coink!</ion-text>
      <ion-text class="welcome-body__content--text">¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</ion-text>

      <ion-buttons class="welcome-body__submit">
        <ion-button expand="block" class="welcome-body__submit--button secondary-color">
          Continuar
        </ion-button>
      </ion-buttons>

    </div>
  </div>
</ion-content>
