<ion-content>
  <div class="auth-container">
    <ion-img src="assets/coink-logo.svg" alt="coink-logo" class="auth-container__logo"></ion-img>
    <ion-text class="auth-container__title primary-color-dark">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</ion-text>
    <ion-buttons class="auth-container__buttons">
      <ion-button expand="block" class="auth-container__buttons--register secondary-color" [routerLink]="['/confirm-number']">
        REGÍSTRATE
      </ion-button>
      <ion-button expand="block" class="auth-container__buttons--login white">INGRESA</ion-button>
    </ion-buttons>
  </div>
</ion-content>
